body {
  font-family: 'Montserrat';
  text-align: center;
}

/* Headings */
.big-headings {
  font-family: "montserrat";
  font-weight: bold;
  font-size: 2.3rem;
  padding: 3% 0;
}

.big-headings, .social-icons {
  color: #fff;
}

.big-Headings, .title {
  line-height: 4.8rem;
  font-weight: 900;
  font-size: 3rem;
}

#title {
  background: linear-gradient(-119deg,
      black 00%,
      darkgrey 100%);
  color: #fff;
}

.contact-us-btn {
  margin: 10% 0 3%;
}

.about-us-btn {
  margin: 10% 0 3%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

.container-fluid {
  padding: 3% 15%;
}

/* navbar */
.navbar {
  padding-left: 0;
  padding-bottom: 30px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: "montserrat-light";
}

.logo-image {
  width: 90%;
  border-radius: 5%;
}

/* features */
#features {
  padding: 7% 15%;
  background-color: #fff;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: GREY;
  transition: color .5s;
  margin-bottom: 1rem;
}

.icon:hover {
  color: black;
}

/* carousels */
#Wire-cut {
  color: #fff;
  background: linear-gradient(-119deg,
      black 0%,
      darkgrey 100%);
}

#EDM {
  color: #fff;
  background: linear-gradient(-119deg,
      black 0%,
      darkgrey 100%);
  margin: 7% 0;
}

.carousel-item {
  padding: 3% 15% 7%;
}

/* PRICING CARDS */
#pricing {
  padding: 7% 15%;
}

.card-header {
  font-family: "montserrat";
  font-weight: normal;
  font-size: 1.5rem;
}

/* CTA */
#cta {
  padding: 7% 15%;
  background: linear-gradient(-119deg,
      black 20%,
      darkgrey 100%);
}

.social-media-heading {
  color: #fff;
  padding-bottom: 4%;
}

.fa-4x {
  margin: 10px 20px;
}

#footer {
  margin-bottom: 20px;
  background: linear-gradient(-119deg,
      black 20%,
      darkgrey 100%);
}

.Copyright-tag {
  padding: 7% 15%;
  color: #fff;
}
